@{
    ViewData["Title"] = "Access denied";
}

<div class="accessDenied">
    <h1 class="ErrorCode">401</h1>
    <h2>Access Denied</h2>
</div>

@section Scripts
{

    <script>$(document).ready(function () {
            $('.accessDenied, this').css('background-color', '#332851');
            $('footer').html('');


        });</script>


}