<div class="container mb-5 mt-5" id="profile">
    <div class="card">
        <div class="card-body">
            <div class="card-body-inner">
                <div class="col-lg-12 col-md-12">
                    <div class="Terms">
                        <div class="page">
                            <h1 class="mb-5">Website standard terms and conditions</h1>
                            <h2>1. Introduction</h2>
                            <p>
                                These Website Standard Terms And Conditions (these “Terms” or these “Website Standard Terms And Conditions”) contained
                                herein on this webpage, shall govern your use of this website, including all pages within this website (collectively
                                referred to herein below as this “Website”). These Terms apply in full force and effect to your use of this Website
                                and by using this Website, you expressly accept all terms and conditions contained herein in full. You must not use
                                this Website, if you have any objection to any of these Website Standard Terms And Conditions.
                            </p>
                            <p>
                                This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must not
                                use this Website if you a minor.
                            </p>
                            <h2>2. Intellectual Property Rights</h2>
                            <p>
                                Other than content you own, which you may have opted to include on this Website, under these Terms,
                                <span class="token">[Sender.Company]</span> and/or its licensors own all rights to the intellectual property and
                                material contained in this Website, and all such rights are reserved. You are granted a limited license only, subject
                                to the restrictions provided in these Terms, for purposes of viewing the material contained on this Website.
                            </p>
                            <h2>3. Restrictions</h2>
                            <p>You are expressly and emphatically restricted from all of the following:</p>
                            <ol>
                                <li>publishing any Website material in any media;</li>
                                <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
                                <li>publicly performing and/or showing any Website material;</li>
                                <li>using this Website in any way that is, or may be, damaging to this Website;</li>
                                <li>using this Website in any way that impacts user access to this Website;</li>
                                <li>
                                    using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the
                                    Website, or to any person or business entity;
                                </li>
                                <li>
                                    engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this
                                    Website, or while using this Website;
                                </li>
                                <li>using this Website to engage in any advertising or marketing;</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
