<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Password Recovery</h3>
            </div>
            <div class="card-body" id="forgotPassCard">
                <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input formControlName="Email" type="email" class="form-control" placeholder="john@techhowdy.com" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" [disabled]="insertForm.invalid" class="btn float-right forgot_btn" />
                    </div>
                    <div id="errors">
                        <div *ngIf="Email.touched && Email.errors" class="errorMessage">
                            <span *ngIf="Email.hasError('required')">Email is required.</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">Don't have an account?<a [routerLink]="['/register']">Sign Up</a></div>
            </div>
        </div>
    </div>
</div>
