<div class="container mb-5 mt-5" id="profile">
    <div class="card">
        <div class="card-body">
            <div class="card-body-inner">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 content">
                        <div class="card-body-content">
                            <span class="sub-title">TECHHOWDY.COM</span>
                            <h2>Know More About Us</h2>
                            <p>
                                Welcome to your very own <a href="https://techhowdy.com/" target="_blank">Techhowdy</a>. The main concept of this blog
                                delivering solutions and technology news to users in very simple way.
                            </p>
                            <p>We almost covering everything in technology related topics in this blog.</p>
                            <p>
                                Tech howdy helps people can use our articles and reviews for knowing latest trends and reviews around technology
                                today.
                            </p>
                            <ul class="features-list">
                                <li>
                                    <span
                                        ><i class="fab fa-facebook-f"></i>
                                        <a href="https://www.facebook.com/techhowdy" target="_blank"> Facebook</a></span
                                    >
                                </li>
                                <li>
                                    <span
                                        ><i class="fab fa-youtube"></i>
                                        <a href="https://www.youtube.com/channel/UC58AAnVqw_sF6LBAKJJES4Q" target="_blank"> Youtube</a></span
                                    >
                                </li>
                                <li>
                                    <span
                                        ><i class="fab fa-linkedin-in"></i>
                                        <a href="https://www.linkedin.com/feed/" target="_blank"> Linkedin</a></span
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 image">
                        <div class="about-image">
                            <img src="assets/images/profilepic.png" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
