<div class="container mt-5">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Send Authentication Code</h3>
            </div>
            <div class="card-body" id="sendCode">
                <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text bg-warning" for="Provider"><i class="fas fa-user-check"></i></label>
                        </div>
                        <select formControlName="provider" class="custom-select" id="Provider">
                            <option value="" disabled selected>Select Provider</option>
                            <option value="Email">Email</option>
                            <option value="Phone">Phone</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="submit" [disabled]="insertForm.invalid">
                                <i class="far fa-paper-plane"></i> Send
                            </button>
                        </div>
                    </div>
                    <div class="row align-items-center remember m-2">
                        <label for="rememberDevice"></label>
                        <input formControlName="rememberDevice" id="rememberDevice" type="checkbox" /><span class="mt-1 ml-2"
                            >Remember this Device</span
                        >
                    </div>
                    <div id="errors" class="border border-white p-2">
                        <div class="errorMessage">
                            <span>Please select how you want to receive the code.</span>
                        </div>
                    </div>
                    <div id="timer" class="border border-white p-2 mt-2">
                        <div class="errorMessage">
                            <span
                                >Session Expires in -<span class="bg-warning p-1 pl-2 pr-2 rounded-0 text-dark ml-2" id="countDown">00</span
                                ><a hidden class="btn btn-sm btn-outline-warning ml-2" id="btnLogin" [routerLink]="['/login']">Login</a></span
                            >
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a class="btn btn-sm btn-warning ml-1" [routerLink]="['/register']">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
