<ng-template #loading>
    <div class="loading">
        <img src="../../assets/images/spinner.gif" />
    </div>
</ng-template>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Register Account</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset>
                                <legend>Username:</legend>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            ><i class="fas fa-user"></i
                                        ></span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Username"
                                        formControlName="username"
                                    />
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-8">
                            <fieldset>
                                <legend>Name:</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    ><i class="fas fa-user"></i
                                                ></span>
                                            </div>
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="Firstname"
                                                formControlName="firstname"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    ><i class="fas fa-user"></i
                                                ></span>
                                            </div>
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="Lastname"
                                                formControlName="lastname"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <fieldset>
                                <legend>Email:</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div
                                                    class="input-group form-group"
                                                >
                                                    <div
                                                        class="input-group-prepend"
                                                    >
                                                        <span
                                                            class="input-group-text"
                                                            ><i
                                                                class="fas fa-envelope"
                                                            ></i
                                                        ></span>
                                                    </div>
                                                    <input
                                                        type="email"
                                                        class="form-control"
                                                        placeholder="Email"
                                                        formControlName="email"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div
                                                    class="input-group form-group"
                                                >
                                                    <div
                                                        class="input-group-prepend"
                                                    >
                                                        <span
                                                            class="input-group-text"
                                                            ><i
                                                                class="fas fa-envelope"
                                                            ></i
                                                        ></span>
                                                    </div>
                                                    <input
                                                        type="email"
                                                        class="form-control"
                                                        placeholder="Confirm Email"
                                                        formControlName="confirmEmail"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6 mt-3">
                            <fieldset>
                                <legend>Password:</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div
                                                    class="input-group form-group"
                                                >
                                                    <div
                                                        class="input-group-prepend"
                                                    >
                                                        <span
                                                            class="input-group-text"
                                                            ><i
                                                                class="fas fa-key"
                                                            ></i
                                                        ></span>
                                                    </div>
                                                    <input
                                                        type="password"
                                                        class="form-control"
                                                        placeholder="Password"
                                                        formControlName="password"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div
                                                    class="input-group form-group"
                                                >
                                                    <div
                                                        class="input-group-prepend"
                                                    >
                                                        <span
                                                            class="input-group-text"
                                                            ><i
                                                                class="fas fa-key"
                                                            ></i
                                                        ></span>
                                                    </div>
                                                    <input
                                                        type="password"
                                                        class="form-control"
                                                        placeholder="Confirm Password"
                                                        formControlName="cpassword"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <fieldset style="margin-top: 0;">
                        <legend>Personal:</legend>
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <div class="input-group form-group">
                                    <select
                                        id="inputState"
                                        class="form-control"
                                        formControlName="country"
                                    >
                                        <option selected value="" disabled
                                            >Select Country</option
                                        >
                                        <option
                                            *ngFor="let country of countries"
                                            [ngValue]="country.twoDigitCode"
                                            >{{ country.name }}</option
                                        >
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group form-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Phone Number"
                                        formControlName="phone"
                                    />
                                </div>
                            </div>

                            <div class="col-md-5" id="gender">
                                <fieldset>
                                    <div
                                        class="form-check form-check-inline ml-2"
                                    >
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="gender"
                                            id="maleRadio"
                                            value="male"
                                            formControlName="gender"
                                        />
                                        <label
                                            class="form-check-label"
                                            for="maleRadio"
                                            >Male</label
                                        >
                                    </div>
                                    <div
                                        class="form-check form-check-inline ml-2"
                                    >
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="gender"
                                            id="femaleRadio"
                                            value="female"
                                            formControlName="gender"
                                        />
                                        <label
                                            class="form-check-label"
                                            for="femaleRadio"
                                            >Female</label
                                        >
                                    </div>
                                    <div
                                        class="form-check form-check-inline ml-2"
                                    >
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="gender"
                                            id="otherRadio"
                                            value="other"
                                            formControlName="gender"
                                        />
                                        <label
                                            class="form-check-label"
                                            for="otherRadio"
                                            >Other</label
                                        >
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            ><i class="fas fa-calendar"></i
                                        ></span>
                                    </div>
                                    <label for="datepicker"></label>
                                    <input
                                        id="datepicker"
                                        type="text"
                                        class="form-control"
                                        placeholder="Date Of Birth"
                                        formControlName="dob"
                                    />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row align-items-center remember mt-3">
                        <input type="checkbox" formControlName="terms" /> Agree
                        to accept terms
                    </div>

                    <div class="form-group">
                        <input
                            type="submit"
                            value="Register"
                            class="btn float-right login_btn"
                            [disabled]="registerForm.invalid"
                        />
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div
                                *ngIf="username.touched && username.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="username.hasError('required')"
                                    >Username is required.</span
                                >
                                <span *ngIf="username.hasError('maxlength')"
                                    >Only 10 characters allowed for
                                    Username.</span
                                >
                                <span *ngIf="username.hasError('minlength')"
                                    >Atleast 5 characters needed for
                                    Username.</span
                                >
                            </div>
                            <div
                                *ngIf="firstname.touched && firstname.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="firstname.hasError('required')"
                                    >Firstname is required.</span
                                >
                                <span *ngIf="firstname.hasError('maxlength')"
                                    >Only 10 characters allowed for
                                    Firstname.</span
                                >
                                <span *ngIf="firstname.hasError('minlength')"
                                    >Atleast 5 characters needed for
                                    Firstname.</span
                                >
                            </div>
                            <div
                                *ngIf="lastname.touched && lastname.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="lastname.hasError('required')"
                                    >Lastname is required.</span
                                >
                                <span *ngIf="lastname.hasError('maxlength')"
                                    >Only 10 characters allowed for
                                    Lastname.</span
                                >
                                <span *ngIf="lastname.hasError('minlength')"
                                    >Atleast 5 characters needed for
                                    Lastname.</span
                                >
                            </div>
                            <div
                                *ngIf="email.touched && email.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="email.hasError('required')"
                                    >Email is required.</span
                                >
                                <span *ngIf="email.hasError('email')"
                                    >Please provide valid email.</span
                                >
                            </div>
                            <div
                                *ngIf="
                                    confirmEmail.touched && confirmEmail.errors
                                "
                                class="errorMessage"
                            >
                                <span *ngIf="confirmEmail.hasError('required')"
                                    >Confirm Email is required.</span
                                >
                                <span *ngIf="confirmEmail.hasError('mustMatch')"
                                    >Confirm Email must match.</span
                                >
                            </div>
                            <div
                                *ngIf="password.touched && password.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="password.hasError('required')"
                                    >Password is required.</span
                                >
                                <span *ngIf="password.hasError('maxlength')"
                                    >Only 10 characters allowed for
                                    password.</span
                                >
                                <span *ngIf="password.hasError('minlength')"
                                    >Atleast 5 characters needed for
                                    password.</span
                                >
                            </div>
                            <div
                                *ngIf="cpassword.touched && cpassword.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="cpassword.hasError('required')"
                                    >Confirm Password is required.</span
                                >
                                <span *ngIf="cpassword.hasError('mustMatch')"
                                    >Confirm Password Must Match.</span
                                >
                            </div>
                            <div
                                *ngIf="country.touched && country.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="country.hasError('required')"
                                    >Country is required.</span
                                >
                            </div>
                            <div
                                *ngIf="phone.touched && phone.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="phone.hasError('required')"
                                    >Phone number is required.</span
                                >
                                <span *ngIf="phone.hasError('pattern')"
                                    >Valid Phone number is required.</span
                                >
                            </div>
                            <div
                                *ngIf="gender.touched && gender.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="gender.hasError('required')"
                                    >Gender is required.</span
                                >
                            </div>
                            <div
                                *ngIf="dob.touched && dob.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="dob.hasError('required')"
                                    >Birthdate is required.</span
                                >
                            </div>
                            <div
                                *ngIf="terms.touched && terms.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="terms.hasError('required')"
                                    >Review and accept terms and
                                    conditions.</span
                                >
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Already have an account?
                    <a
                        class="btn bg-warning ml-2"
                        role="button"
                        [routerLink]="['/login']"
                        >Login</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FOR REGISTRATION ERRORS -->
<div class="modal" id="errorModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{ modalTitle }}</h4>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="list-group-item active">{{ modalMessage }}</p>
                <ul class="list-group" *ngFor="let error of errorList">
                    <li class="list-group-item">{{ error }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
