@model ModelService.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
}

@section Styles {

    <style>
        .sec-wrapper {
            background: #fff;
            padding: 1.5rem;
            border: 1px solid #eaecec;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: .25rem;
            max-width: 500px;
            margin: 5% auto 14px;
        }

        .form-control {
            color: #324148;
            border-width: 2px;
            border-color: #eaecec;
            padding: .375rem .75rem;
            height: calc(2.25rem + 4px);
        }

        .register-logo {
            color: #000;
            font-size: 1.5rem;
            text-align: center;
        }
    </style>
}
<div class="sec-wrapper">
    <div class="container">
        <div class="reset-password mb-5">
            @Html.AntiForgeryToken()
            <div class="register-logo mb-3">
                <a href="https://www.techhowdy.com" border="0" style="border:none;text-decoration:none;">Password Reset</a>
            </div>
            <form method="post" id="resetPasswordForm" name="resetPasswordForm" action="@Url.Action( "UpdatePassword", "Password")">
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" id="email" type="email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" id="emailValidation" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" id="password" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" id="passValidation" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" id="cpassword" type="password" class="form-control" placeholder="Retype password" />
                    <span asp-validation-for="ConfirmPassword" id="cpassValidation" class="text-danger"></span>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" id="submit" class="btn btn-primary btn-flat" style="min-width: 150px">Submit</button>
                </div>
            </form>
        </div>
        <div class="border p-2">
            <p class="pl-2"><i class="fas fa-star mr-2 text-danger"></i>At least one upper case English letter</p>
            <p class="pl-2"><i class="fas fa-star mr-2 text-danger"></i>At least one lower case English letter</p>
            <p class="pl-2"><i class="fas fa-star mr-2 text-danger"></i>At least one digit</p>
            <p class="pl-2"><i class="fas fa-star mr-2 text-danger"></i>At least one special character</p>
            <p class="pl-2"><i class="fas fa-star mr-2 text-danger"></i>Minimum eight in length</p>
        </div>
    </div>
    <div class="text-center mt-3">
        <a id="home" class="btn btn-success btn-flat text-white" style="min-width: 150px">Back To Home</a>
    </div>
</div>

@section Scripts {
    <script src="~/lib/custom/js/account/forgot-password.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")

}
