<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>@Html.Raw(@Model.SiteWideSetting.WebsiteFooter)</span>
        </div>
    </div>
</footer>