<!-- Sidebar  -->
<nav id="sidebar" class="navbar-light bg-white topbar mb-4 static-top shadow">
    <div class="sidebar-header bg-white">
        <a asp-controller="Home" asp-action="Index">
            <h3 class="brand">Techhowdy<sup>.com</sup></h3>
            <strong class="brand">TH</strong>
        </a>
    </div>


    <ul class="list-unstyled components">
        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="far fa-user"></i>
                Users
            </a>
            <ul class="collapse list-unstyled" id="userSubmenu">
                <div class="innerList">
                    <li>
                        <a asp-action="Index" asp-area="Admin" asp-controller="User">All Users</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-area="Admin" asp-controller="UserRole">User Roles</a>
                    </li>
                </div>
            </ul>
        </li>
        <li>
            <a href="#settingsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-cogs"></i>
                Settings
            </a>
            <ul class="collapse list-unstyled" id="settingsSubmenu">
                <div class="innerList">
                    <li>
                        <a asp-action="Index" asp-area="Admin" asp-controller="SiteSettings">Site Settings</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-area="Admin" asp-controller="EmailSettings">Email Settings</a>
                    </li>
                </div>
            </ul>
        </li>
    </ul>
</nav>